.tabs {
    background: var(--white-color);
    height: auto;

    &__header {
        display:flex;
        flex-flow: wrap;
        justify-content: center;
        margin-bottom: 5px;

        & > * + * {
            margin-left: 10px;

            @media(max-width: $sm) {
                margin-left: 0;
                margin-top: 5px;
            }

        }

        @media(max-width: $sm) {
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            text-align: center;
        }
    }

    &__btn {
        padding: 1.5rem;
        background: var(--grey-color);
        color: var(--secondary-color);
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        border: 2px solid var(--grey-color);
        transition: all .5s;

        &:hover, &:focus {
            background: var(--white-color);
        }
    
        &.active {
            background: var(--white-color);
        }
    }

    &__body {
        width: 100%;
        position: relative;
        min-height: 50rem;
    }

    &__content {
        display: none;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background: var(--grey-color);

        & > * {
            flex: 1 0 50%;
        }

        &.active {
            display: flex;
            flex-flow: wrap;
        }
    }

    &__information {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &__image-wrapper {
        background-position: center;
        background-size: cover;

        @media(max-width: $sm) {
            min-height: 30rem;
            opacity:0.1;
            display:none;
        }
    }

    &__heading {
        color: var(--primary-color);
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__subheading {
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2rem;
        
    }

    &__text {
        color: var(--secondary-color);
        line-height: 1.7;
        font-size: 1.7rem;
    }
}